@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding-inline:15%;
  padding-top: 10%;
  background: #131313;
  color: #E2E5EB;
}
.scrolling-container {
  width: 100%; /* Ensure it takes the full width available */
  overflow: hidden;
}

.scrolling-image {
  animation: scroll-left 15s linear infinite;
  ; /* Adjust duration as needed */
  margin-right: 20px; /* Adjust spacing between images */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
